<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th scope="col">Id</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Price</th>-->
<!--        <th scope="col">Description</th>-->
<!--        <th scope="col">Producer</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td th:text="${veXe.idProduct}"></td>-->
<!--        <td th:text="${veXe.nameProduct}"></td>-->
<!--        <td th:text="${veXe.price}"></td>-->
<!--        <td th:text="${veXe.description}"></td>-->
<!--        <td th:text="${veXe.producer}"></td>-->
<!--    </tr>-->
<!--</table>-->


<!--</body>-->
<!--</html>-->